{{ if .Site.Data.homepage.testimonial.enable }}
<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <!--<h2 style="margin-top:-140px;font-size:36px;" class="rad-fade-down">{{ .Site.Data.homepage.testimonial.title }}</h2>-->
        <h2 style="font-size:30px;margin-top:-115px;" class="rad-fade-down">{{ .Site.Data.homepage.testimonial.title | safeHTML }}</h2>
            <!--<p style="text-align:left;font-size:18px;">-->
                <!--{{ .Site.Data.homepage.testimonial.content1 | safeHTML }}-->
          <!--</p>-->
        <div class="row mb-0 rad-fade-down">
            {{ range .Site.Data.homepage.testimonial.items }}
            <div style="margin-bottom:-35px;" class="col-12 testimonial">
                <p style="text-align:left;font-size:18px;">
                    {{ .content.award | safeHTML }}
                    <span style="float:right;font-size:18px;">
                        {{ .content.program | safeHTML }}
                    </span>
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
